<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% set setting = collections.settings %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or renderData.title or metadata.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/_includes/assets/css/styles.css?{{ now | cacheBustDate}}" />
  </head>
	<body>
		<header class="site-header">
			{% include "components/nav.njk" %}
		</header>

    {% block masthead %}

      <section class="masthead">
        {% if masthead.images | length == 1 %}
          <img class="masthead-img" src="{{masthead.images[0].image}}-/scale_crop/1800x600/" />
        {% elif masthead.images | length > 1 %}
          <div class="kb-slideshow">
          {% for img in masthead.images %}
          <img class="masthead-img" src="{{img.image}}-/scale_crop/1800x600/" /></li>
          {% endfor %}
          </div>
        {% endif %}

        {% if masthead.mastheadText %}
        <div class="masthead-text l-container">
          {{ masthead.mastheadText | md | safe }}
        </div>
        {% endif %}
      </section>
    {% endblock %}

    <div class="two-thirds-bg">
      <div class="two-thirds-grid">
        <main class="main-content">
          {% block content %}
    			{{ layoutContent | safe }}
          {% endblock content %}
        </main>
        <aside class="sidebar">
          {{metadata.sidebar | md | safe }}

          <h5>Recent Message</h5>
          {% set postslist = collections.posts %}
          {% include "components/postslist.njk" %}
        </aside>
      </div>
    </div>


		{% include "components/footer.njk" %}

    <script src="/_includes/assets/js/bundle.js?{{ now | cacheBustDate }}"></script>
	</body>
</html>
