{% extends "base.njk" %}

{% block content %}
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}

<p><em><a href="/blog/index.xml">Subscribe</a></em></p>


{% endblock %}
