{% extends "base.njk" %}

{% block content %}
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% for event in collections.events %}
<p>
<a href="{{ event.url | url }}">{{ event.data.title }}</a><br>
start: {{ event.data.startdate | machineDate }}<br>
end: {{ event.data.enddate | machineDate }}
</p>
{% endfor %}

{% endblock %}
