{% extends "base.njk" %}

{% block content %}
<h1>{{title}}</h1>
{{ layoutContent | safe }}

<ul class="thumbs">
  {% for img in galleryImages %}
  <li>
    <a class="foo" data-mediabox="my-gallery-name" href="{{img.image}}-/resize/1200/">
      <img src="{{img.image}}-/scale_crop/300x200/" />
    </a>
    <p>{{img.title}}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
