<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
    <channel>
      <title>{{ metadata.title }}</title>
      <description>{{ metadata.feed.subtitle }}</description>

        <itunes:subtitle>{{metadata.feed.subtitle }}</itunes:subtitle>
        <itunes:author>{{ metadata.author.name}}</itunes:author>

        <link>{{ metadata.url }}{{metadata.feed.path}}</link>
        <language>{{ metadata.feed.language }}</language>
        <pubDate>{{ collections.posts | rssLastUpdatedDate }}</pubDate>
        {# old format: {{ feed_updated|date:"D, d M Y H:i:s O" }} #}

        <lastBuildDate>{{ collections.posts | rssLastUpdatedDate }}</lastBuildDate>
        <managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
        <webMaster>{{ metadata.author.email }} ({{ metadata.author.name }})</webMaster>
        <category>{{metadata.feed.category}}</category>

        {# <itunes:category text="Religion &amp; Spirituality">
            <itunes:category text="Christianity" />
        </itunes:category> #}

        {# <itunes:image href="/static/icons/apple-touch-icon.png" /> #}
        <itunes:owner>
            <itunes:name>{{ metadata.author.name }}</itunes:name>
            <itunes:email>{{ metadata.author.email }}</itunes:email>
        </itunes:owner>
        <itunes:explicit>clean</itunes:explicit>


        {%- for post in collections.posts %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
          <item>
              <title>{{ post.data.title }}</title>
              <link>{{ absolutePostUrl }}</link>
              <guid>{{ absolutePostUrl }}</guid>
              <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
              <pubDate>{{ post.date | rssDate }}</pubDate>
              {% if post.audio %}<enclosure url="{{ site.domain }}{{ page.content.audio.url }}" length="{{ page.content.audio.size }}" type="audio/mpeg"/>{% endif %}
              <source url="{{ site.domain }}Messages/feed" />
          </item>
      {%- endfor %}
    </channel>
</rss>
