.l-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
}

.two-thirds-bg {
  background: linear-gradient(to right,  var(--body-bg) 66%, var(--body-bg-shade) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



.two-thirds-grid {
  padding-left: 10px;
  padding-right: 10px;

  .sidebar {
    background-color: var(--body-bg-shade);
    padding: 10px;
    margin: 0 -10px;
  }

  @include mq('stacked') {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content sidebar";

    .main-content {
      grid-area: content;
      padding-right: 60px;
      background-color: var(--body-bg);
    }

    .sidebar {
      grid-area: sidebar;
      background-color: var(--body-bg-shade);
      padding: 20px;
      margin: 0;
    }
  }
}
