:root {
  --dropdown-bg: var(--accent-color);
}

.site-header {
  background: var(--accent-color);
  padding: var(--global-margin) 0;
}

.site-logo {
  padding: 10px;
  font-size: 0.8em;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-item {
    position: relative;

    > ul {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      background: var(--dropdown-bg);
      width: 200px;

      a {
        display: block;
        padding: 4px;
      }
    }

    &:hover > ul,
    &:focus-within > ul {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &-link {
    display: block;
    padding: 10px 20px;
  }

  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      text-decoration: none;
      background: #ddd;
    }
  }
}
