<form action="https://formcarry.com/s/cHc3-C6AFcw" method="POST" accept-charset="UTF-8" >
  <div class="field">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" required>
  </div>
  <div class="field">
    <label for="message">Message</label>
    <textarea name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  </div>
  <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
  <button class="button" type="submit" name="submit">Send Message</button>
</form>
