<nav class="site-nav">
  <a class="site-logo" href="{{ '/' | url }}">{{ metadata.title }}</a>
  <ul class="site-nav-list">
    {% for item in metadata.nav %}
      <li class="site-nav-item"><a class="site-nav-link" href="{{ item.link }}">{{ item.title }}</a>
        {%- if item.subNav -%}
        <ul>
          {% for subitem in item.subNav %}
          <li><a class="site-nav-sub-link"  href="{{ subitem.link }}">{{ subitem.title }}</a></li>
          {% endfor %}
        </ul>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</nav>
