.masthead {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-80);
    content: "";
  }

  &-text {
    text-align: center;
    position: relative;
    z-index: 1;

    &, h1, h2, h3, h4, h5, h6, a {
      color: var(--knockout-color);
    }
  }

  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.kb-slideshow {
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;

  .masthead-img {
    opacity:0;
    transition-property: opacity, transform;
    transition-duration: 3s, 10s;
    transform-origin: bottom left;

    &:nth-child(2n+1) {
      transform-origin: top right;
    }

    &:nth-child(3n+1) {
      transform-origin: top left;
    }

    &:nth-child(4n+1) {
      transform-origin: bottom right;
    }

    &.fx {
      opacity:1;
      transform: scale(1.1);

      &:first-child + img ~ img  {
        z-index:-1;
      }
    }
  }
}
