.thumbs {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > li {
    width: calc(33% - 10px);
    margin-bottom: 10px;

    img {
      display: block;
    }

    p {
      font-size: 0.8em;
      text-align: center;
      font-style: italic;
    }
  }
}
